@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");

body {
  /*este font se llama Aboreto*/
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 35px;
  background-color: cyan;
}

header {
  position: relative;
  background-color: deeppink;
  border: 8px solid purple;
  margin-bottom: 1rem;
}

nav {
  display: flex;
}

.logo_navbar {
  width: 12vw;
  height: 7vh;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}

p {
  color: black;
  /* margin: 20px 20px 20px 30px; */
  margin: 1rem 1rem 1rem 2.5rem;
  border: none purple;
}

footer {
  border-color: purple;
  background-image: linear-gradient(0deg, rgba(255,20,147,1) 42%, rgba(0,255,239,1) 69%);
  text-align: center;
  margin-top: 20px;
  border: 5px purple groove;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer_text {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 4rem;
}

li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  color: white;
}

.a_bepart {
  border: none;
  background-color: none;
}
.logo_bepart {
  border: groove purple;
  height: 50px;
  width: 50px;
}

.menu {
  padding: 3px 3px 3px 3px;
  border-top: yellow;
  border-right: blue;
  border-bottom: red;
  border-left: green;
  border-style: groove;
}

img {
  padding: 3px 3px 3px 3px;
  border-top: yellow;
  border-right: blue;
  border-bottom: red;
  border-left: green;
  border-style: groove;
  background-color: rgba(140, 0, 255, 0.712);
  margin-top: 5px;
}

h2 {
  color: lime;
  font-size: calc(1.5rem + 3vh);
  transition: 1s transform linear;
}

.dj_title {
  color: black;
  font-size: calc(3rem + 5vh);
}

.titulos{
  font-size: calc(1.5rem + 3vh);
}

h2:hover{
  transform: rotate(360deg);
  transition: 1s transform linear;
}

main {
  background-color: lime;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

div {
  background-color: deeppink;
}

.card-container {
  padding: 0 100px;
}
.main_contact {
  background-color: lime;
}

.parrafo {
  color: black;
  font-weight: bolder;
  border: 8px solid purple;
  background-color: deeppink;
  text-align: center;
  padding-bottom: 15px;
}
.link_footer {
  text-decoration: none;
  background-color: none;
}
ul {
  padding-top: 5vh;
}
.footer_gradiente{
  radial-gradient(circle, rgba(85,196,62,1) 16%, rgba(200,42,163,1) 32%, rgba(121,9,73,1) 42%, rgba(0,255,239,1) 69%);
}
.video_index {

  height: 22vh;
  width: 17vw;
  margin-top: 3vh;
  margin-bottom: 4vh;
  justify-content: center;
}
.video_aboutus{
  height: 22vh;
  width: 17vw;
  margin-top: 3vh;
  margin-bottom: 4vh;
  justify-content: center;
}
.texto_trasparente1 {
  background-image: linear-gradient(
    to bottom,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 94, 121, 1) 44%,
    rgba(0, 255, 239, 1) 69%
  );
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.texto_trasparente2 {
  background-image: radial-gradient(circle, rgba(85,196,62,1) 16%, rgba(32,2,45,1) 32%, rgba(121,9,73,1) 42%, rgba(0,255,239,1) 69%);
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.follow_us {
  color: cyan;
  font-size: calc(1.5rem + 3vh);
}

.card-img-top {
  height: 400px;
}

.animacion {
  position: relative;
  background-color: red;
  animation-name: animacion_hype; 
  animation-duration: 3s;
}
/* MEDIAQUERIES */
@media (min-width: 576px) {  
  .texto_trasparente {
  background-image: linear-gradient(90deg, rgba(85,196,62,1) 18%, rgba(32,2,45,1) 39%, rgba(121,9,73,1) 61%, rgba(0,255,239,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text ;
}
@media (min-width: 768px) {
  .texto_trasparente {
    background-image: linear-gradient(90deg, rgba(85,196,62,1) 18%, rgba(32,2,45,1) 39%, rgba(121,9,73,1) 61%, rgba(0,255,239,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text ;
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}

/* ANIMACIONES */

@keyframes animacion_hype {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:50px; top:50px;}
  50%  {background-color:blue; left:-50px; top:50px;}
  75%  {background-color:green; right:50px; top:50px;}
  100% {background-color:red; left:0px; top:0px;}
}

