#body_index {
    background-color: black;
    align-items: center;
    text-align: center;
    align-content: center;
    header {
        #logo_nav {
            .logo_navbar {
                width: 200px;
                height: 120px;
                padding: 3px 3px 3px 3px;
                border-top: yellow;
                border-right: blue;
                border-bottom: red;
                border-left: green;
                border-style: groove;
                margin-top: 5px;
            }
        }
    }
    #main_index {
        #text_index {
            section {
                .texto_trasparente1 {
                    font-size: 1.5rem !important;
                    background-image: linear-gradient(
                        to bottom,
                        rgb(40, 218, 114) 0%,
                        rgba(9, 94, 121, 1) 44%,
                        rgba(0, 255, 239, 1) 69%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
                #carouselExampleSlidesOnly {
                    .img_carousel {
                        width: 360px !important;
                        height: 300px !important;
                    }
                }
                h2 {
                    background-image: linear-gradient(
                        90deg,
                        rgba(85, 196, 62, 1) 18%,
                        rgb(135, 14, 187) 39%,
                        rgb(228, 54, 152) 61%,
                        rgba(0, 255, 239, 1) 80%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-size: 3rem;
                }
                .texto_trasparente2 {
                    background-image: linear-gradient(
                        to bottom,
                        rgb(40, 197, 218) 44%,
                        rgb(255, 0, 76) 69%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-size: 1.6rem;
                }
            }
        }
    }
    #footer_index {
        p {
            font-size: 20px;
            background-image: linear-gradient(
                90deg,
                rgb(194, 196, 62) 18%,
                rgb(135, 14, 187) 39%,
                rgb(228, 153, 54) 61%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 2rem;
        }
    }
}
// about us page
#body_aboutus1 {
    background-color: black;
    align-items: center;
    text-align: center;
    align-content: center;
    header {
        #logo_nav2 {
            .logo_navbar {
                width: 200px;
                height: 120px;
                padding: 3px 3px 3px 3px;
                border-top: yellow;
                border-right: blue;
                border-bottom: red;
                border-left: green;
                border-style: groove;
                margin-top: 5px;
            }
        }
    }
    #main_aboutus {
        #text_aboutus {
            #section1_aboutus {
                #parrafo_aboutus {
                    .tittle_style {
                        font-size: 3rem;
                        background-image: linear-gradient(
                            90deg,
                            rgb(194, 196, 62) 18%,
                            rgb(135, 14, 187) 39%,
                            rgb(228, 153, 54) 61%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                    .texto_trasparente3 {
                        background-image: linear-gradient(
                            90deg,
                            rgba(85, 196, 62, 1) 18%,
                            rgb(135, 14, 187) 39%,
                            rgb(228, 54, 152) 61%,
                            rgba(0, 255, 239, 1) 80%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        font-size: 2rem;
                    }
                    .text_1 {
                        background-image: linear-gradient(
                            45deg,
                            rgba(85, 196, 62, 1) 18%,
                            rgb(135, 14, 187) 39%,
                            rgb(228, 54, 152) 61%,
                            rgba(0, 255, 239, 1) 80%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        font-size: 1.5rem;
                    }
                }
            }
            #section2_aboutus {
                align-self: auto;
                .video_aboutus {
                    width: 360px;
                    height: 250px;
                }
                .img_carousel2 {
                    width: 50vw;
                    height: 300px;
                }
            }
        }
    }
    .footer_degrant {
        font-size: 2rem;
        background-image: linear-gradient(
            90deg,
            rgb(194, 196, 62) 18%,
            rgb(135, 14, 187) 39%,
            rgb(228, 153, 54) 61%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
// djs page
#body_djs {
    background-color: black;
    align-items: center;
    text-align: center;
    align-content: center;
    header {
        #log_nav3 {
            .logo_navbar {
                width: 200px;
                height: 120px;
                padding: 3px 3px 3px 3px;
                border-top: yellow;
                border-right: blue;
                border-bottom: red;
                border-left: green;
                border-style: groove;
                margin-top: 5px;
            }
        }
    }
    #main_djs {
        .dj_title {
            font-size: 3rem;
            background-image: linear-gradient(
                45deg,
                rgb(135, 14, 187) 39%,
                rgb(228, 153, 54) 61%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        #card_djs1 {
            #div_card1 {
                .img_carousel3 {
                    height: 300px !important;
                }
                .card1 {
                    height: 250px !important;
                }
            }
        }
        #card_djs2 {
            #div_card2 {
                #card_djs2 {
                    .img_carousel3 {
                        height: 300px;
                    }
                    .card2 {
                        height: 250px;
                    }
                }
            }
        }
    }
    #card_section2 {
        #div_card3 {
            #card_djs3 {
                .img_carousel3 {
                    height: 300px;
                }
                .card2 {
                    height: 250px;
                }
            }
        }
        #card_djs4 {
            #div_card4 {
                .img_carousel3 {
                    height: 300px;
                }
            }
        }
    }
    .footer_degrant {
        font-size: 2rem;
        background-image: linear-gradient(
            90deg,
            rgb(194, 196, 62) 18%,
            rgb(135, 14, 187) 39%,
            rgb(228, 153, 54) 61%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

// bepart page
#body_bepart {
    background-color: black;
    align-items: center;
    text-align: center;
    align-content: center;
    header {
        #log_nav4 {
            .logo_navbar {
                width: 200px;
                height: 120px;
                padding: 3px 3px 3px 3px;
                border-top: yellow;
                border-right: blue;
                border-bottom: red;
                border-left: green;
                border-style: groove;
                margin-top: 5px;
            }
        }
    }
    #main_bepart {
        .tittle_style {
            background-image: linear-gradient(
                90deg,
                rgb(233, 20, 197) 18%,
                rgb(135, 14, 187) 39%,
                rgb(26, 228, 53) 61%,
                rgb(228, 196, 15) 80%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 2rem;
        }
        p {
            background-image: linear-gradient(
                45deg,
                rgb(231, 235, 33) 18%,
                rgb(135, 14, 187) 39%,
                rgb(228, 54, 152) 61%,
                rgba(0, 255, 239, 1) 80%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 1.5rem;
        }
        h3 {
            font-size: 2rem;
            background-image: linear-gradient(
                90deg,
                rgb(27, 216, 122) 18%,
                rgb(135, 14, 187) 39%,
                rgb(228, 153, 54) 61%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .logo_bepart {
            border-top: yellow;
            border-right: blue;
            border-bottom: red;
            border-left: green;
            border-style: groove;
            margin-top: 5px;
            height: 50px;
            width: 50px;
        }
    }
    .footer_degrant {
        font-size: 2rem;
        background-image: linear-gradient(
            90deg,
            rgb(194, 196, 62) 18%,
            rgb(135, 14, 187) 39%,
            rgb(228, 153, 54) 61%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
// contact page
#body_contact {
    background-color: black;
    align-items: center;
    text-align: center;
    align-content: center;
    header {
        #log_nav5 {
            .logo_navbar {
                width: 200px;
                height: 120px;
                padding: 3px 3px 3px 3px;
                border-top: yellow;
                border-right: blue;
                border-bottom: red;
                border-left: green;
                border-style: groove;
                margin-top: 5px;
            }
        }
    }
    #main_contact {
        div {
            p {
                background-image: linear-gradient(
                    45deg,
                    rgb(231, 235, 33) 18%,
                    rgb(135, 14, 187) 39%,
                    rgb(228, 54, 152) 61%,
                    rgba(0, 255, 239, 1) 80%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-size: 1.5rem;
            }
        }
        #carouselExampleIndicators {
            .img_carousel2 {
                height: 450px;
            }
        }
    }
    .footer_degrant {
        font-size: 2rem;
        background-image: linear-gradient(
            90deg,
            rgb(194, 196, 62) 18%,
            rgb(135, 14, 187) 39%,
            rgb(228, 153, 54) 61%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
